/* Configurações gerais */
:root{
    --brown: #351e19;
    --red: #c9240f;
    --yellow: rgb(255, 174, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--brown);
}

/* Componentes */

.title{
    text-align: center;
    /* background-color: #c9240f; */
    font-size: 3rem;
    margin-top: 6rem;
    font-weight: bold;
}

.title .titleContent{
    text-decoration: none;
    color: var(--red);
    letter-spacing: 0.8rem;
}

/* subtitles */

.categoryTitle{
    font-size: 2.5rem;
    text-align: start;
    margin-top: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.categoryTitle .content{
    text-decoration: none;
    color: var(--yellow);
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
    text-align: center;
}

.categoryTitle .content:hover{
    background-color: var(--red);
    color: var(--brown);
    transition: all 0.2s ease-in;  
}

.categoryTitle .contentSubtitle{
    text-decoration: none;
    color: var(--yellow);
    padding: 1rem 2.5rem;
    border-radius: 0.5rem;
}


.categoryTitle p{
    color: var(--yellow);
    font-size: 1.3rem;
}

.pagErro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    font-size: 10rem;
    color: var(--yellow);
}

/* Category */

.categoryMenu{
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 70%;
    margin: 2rem auto;
}

.categoryMenu .content{
    font-size: 3rem;
    text-decoration: none;
    color: var(--yellow);
}

/* Itens */

.itensMenu{
    width: 70%;
    margin:2rem auto ;
    flex-direction: column;
    display: flex;
    text-align: center;
    color: var(--yellow);
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

.itensMenu .header{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    border-bottom: .2rem dotted var(--yellow);
    justify-content: space-between;
}

.itensMenu .image{
    margin:  2rem 0;
    width: 80%;
    box-shadow: 2px 2px 5px black;
}


/* admin login */

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    width: 70%;
    height: 2.5rem;
}

.form button{
    margin-top: 1rem;
    width: 25%;
    height: 3rem;
    color: var(--brown);
    background-color: var(--yellow);
    border-style: none;
    border-radius: 0.4rem;
}

.form p{
    font-size: 2rem;
}

.hidden{
    display: none;
}
.erro{
    color: var(--red);
}

/* admin menu */

.editMenu{
    display: flex;
    font-size: 3rem;
    margin: 4rem 2rem 0;
    justify-content: space-between;
    align-items: center;
}

.editMenu .subtitle{
    color: var(--yellow);
    text-decoration:none ;
}

.selectCategory{
    font-size: 3rem;
    display: flex;
    justify-content: end;
    margin: 2rem 2rem;
}

.selectCategory .btnEdit{
    margin-right: 1rem;

}

.selectCategory p {
    color: var(--yellow);
    margin-right: auto;
}
.selectCategory button {
    justify-self: flex-end;
    align-items: flex-end;
}

.newCategory {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    background-color: var(--yellow);
    width: 70%;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.newCategory .link{
    text-decoration: none;
    color: var(--brown);
}

.modal {
    display: flex;
    position: absolute;
    top: 12rem;
    left: 5rem;
    right: 5rem;
    bottom: 40rem;
    background-color: papayawhip;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    text-align: center;
  }

  .modal p{
    margin-top: 2rem;
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    color: var(--brown);
  }

  .modal div{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .modal div button{
    margin-top: 2rem;
    width: 8rem;
    height: 2.5rem;
    color: var(--brown);
    background-color: var(--yellow);
    border-style: none;
    border-radius: 0.5rem;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(85, 76, 76, 0.397);
  }

  .categoryItem{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-decoration: none;
    color: var(--yellow);
  }

  .categoryItem .btn{
    text-align: center;
    margin-top: 2rem;
    width: 12rem;
    height: 4.5rem;
    color: var(--brown);
    background-color: var(--yellow);
    border-style: none;
    border-radius: 0.5rem;
  }


  .form input, .selectForm{
    width: 25rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    font-weight: bold;
  }

  .form label{
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--yellow);
  }

  .form .imageBtn{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .form .imageBtn input{
    height: 10rem;
}

/* whatsapp botão */
.whatsapp{
    color:#25d366;
    position: fixed;
    bottom: 1rem;
    right: 1rem; 
}

@media (min-width:500px){
    body{
        width: 80%;
        margin: 0 auto;
    }
}

@media (min-width:1000px){
    body{
        width: 50%;
        margin: 0 auto;
    }

    .editMenu{
        display: inline-flex;
        flex-direction: column;
        position: absolute;
    }
    .selectCategory{
        justify-content: center;
        align-items: center;
        margin: 3rem 20rem
    }

    .newCategory{
        width: 50%;
    }
}

@media (min-width:1600px) {
    html{
        font-size: 80%;
    }
    body{
        width: 40%;
        margin: 0 auto;
    }

    .modal{
        bottom: 35rem;
        left: 50rem;
        right: 50rem;
    }

    .form input{
        width: 40rem;
    }
    .form .inputItem{
       width: 70rem;
      }
}

