:root{
    --brown: #351e19;
    --red: #c9240f;
    --yellow: rgb(255, 174, 0);
}

* {
    margin: 0;
    padding: 0;
    outline:none;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--brown);
    line-height: 1.5;
  }

div {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
}

.title {
    font-size:5rem;
    color: var(--red);
    text-decoration: none;
    font-weight: bold;
}

.subtitle {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.7rem;
    color: var(--yellow);
    padding: 0.7rem 1.7rem;
    border-radius: 0.15rem;
    text-decoration: none;
    font-weight: bold;
}

.subtitle:hover{
    cursor:pointer;
    background-color: var(--red);
    color: var(--brown);
    transition: all 0.2s ease-in;  
}

.menu{
    margin-top: 2.6rem;
    font-size: 1.5rem;
}

.menuTitle{
    color: var(--yellow);
    margin-top: 2.3rem;
    font-size: 3rem;
}

p {
    color: var(--yellow);
}

.teste{
    display: flex;
    padding: 0 11.2rem;
    color:var(--yellow);
}

.teste:hover{
    cursor:pointer;
    background-color: var(--red);
    color: var(--brown);
    transition: all 0.2s ease-in;  
}

.erro{
    margin-top: 2rem;
    display: none;
}

button{
    width: 6rem;
    height: 1.7rem;
}

.modalMenu{
    margin-left: 2rem;
    text-align: start;
}

.modalBtn{
    margin: 1rem 2rem;
    background-color: #ffffff00;
    font-size: 1.5rem;
    width: 10rem;
    height: 2.5rem;
    border: 0;

}

.modalBtn:hover{
    background-color:var(--yellow);
    color: var(--brown);
    transition: all 0.2s ease-in;  
    border-radius: 0.25rem;
}

.modal{
    max-width: 30%;
    max-height: 100%;
    position: absolute;
    top: 100px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color:papayawhip;
    border-radius: .5rem;
} 

.overlay{
    background-color: #ffffff00;
}

.editMenu{
   display: flex;
   justify-content: start;
   align-items: flex-start;
   flex-direction: column;
   position: absolute;
   left: 40rem;
}

.selectCategory{
   display: flex;
   align-items: center;
   justify-content: center;
}

.btnEdit{
    background-color: rgba(178, 34, 34, 0);
    border:0;
    justify-content: center;
}